header {
  border-bottom: 5px solid #FC7061;
}
footer {
  border-top: 5px solid #FC7061;
  margin-top: 1em;
}
h1,h2,h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 a {
  text-decoration: none;
  color: #4C5464;
}
body {
  width: 1024px;
  margin: 1em auto;
  background-color: #FCF4EF;
  color: #4C5464;
}
img {
  display: block;
  width: 75%;
  margin: 1em auto;
}
pre {
  border: 3px solid #FC7061;
  padding: 1em;
  background-color: #FAFAFA;
  overflow-x: auto; /* Ensures horizontal scrolling if needed */
  white-space: pre-wrap; /* Allows text to wrap */
}
pre code {
  font-size: large;
  word-wrap: break-word; /* Breaks long words and wraps them onto the next line */
}
