<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>Brendan Hubble - Thoughts and Technology</title>
  </head>
  <body>
    <header>
      <h1><a href="{{ "/" | absolute_url }}">Brendan Hubble - Thoughts and Technology</a></h1>
    </header>
    {{ content }}
  </body>
  <footer>
    <small>
      <p>Copyright Brendan Hubble</p>
      <p>Contact me if you have opportunities</p>
      <ul>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/brendan-hubble-8249a583/">brendan-hubble-8249a583</a></li>
        <li>Telegram: <code>@HUBBLEPTYLTD</code></li>
        <li>Upwork: <a href="https://www.upwork.com/freelancers/~0185680214a4f593c0">Brendan H.</a></li>
      </ul>
    </small>
  </footer>
</html>
